<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<style>
    .calc{align:center;}
</style>
<body>
    <h1 style="color:purple;text-align:center;">Calculator</h1><br><br>
    <div class="calc">
    <form action="calculate/" method="GET">
        <label>Addition : </label>
        <input type="text" name="num1">
        <input type="text" name="num2">
        <input type="submit" name="submit1"> <br><br>
        <label>Subtraction : </label>
        <input type="text" name="num3">
        <input type="text" name="num4">
        <input type="submit" name="submit2"><br><br>
        <label>Multiplication : </label>
        <input type="text" name="num5">
        <input type="text" name="num6">
        <input type="submit" name="submit3"><br><br>
        <label>Division : </label>
        <input type="text" name="num7">
        <input type="text" name="num8">
        <input type="submit" name="submit4"><br><br>
    </form>
</div>
</body>
</html>